# OpenWeather API key (get your own from https://openweathermap.org/api)
VITE_OPENWEATHER_API_KEY=YOUR_API_KEY_HERE
# Base URL OpenWeather API
VITE_OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/weather
